.icon-wrapper {
	display: inline-block;
	width: 26%;
	margin: 0 1em;
}

.icon {
	width: 200px;
	height: 200px;
}

#webdev-icon {
	background: url('../img/webdev.svg');
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%;
}

#design-icon {
	background: url('../img/design.svg');
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
}

#programming-icon {
	background: url('../img/programming.svg');
	background-color: #444;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
}

@media screen and (max-width: 800px) {
	.icon-wrapper {
		display: block;
		margin: 0.2em auto;
		width: 70%;
		padding-bottom: 1em;
	}
}