.container {
    margin: 2em auto;
}

#editor {
    position: relative;
    top: 50%;
    translate: translateY(-50%);
    margin: 0;
    width: 100%;
    height: 30em;
    font-size: 18px;
}

.col-md-12.col-sm-12.codeSide {
    background: #272822;
    height: 40em;
    padding-left: 21px;
    border-radius: 10px;
    padding-top: 7px;
}

.ace_gutter {
    min-width: 50px;
}

.ace_scroller {
	margin-left: 5px;
}

@media (max-width: 540px) {
    #editor {
        font-size: 16px;
    }

    .col-md-12.col-sm-12.codeSide {
        background: #272822;
        height: 36em;
        padding-left: 21px;
        border-radius: 10px;
        padding-top: 7px;
    }
}
