/* Global */
body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	line-height: 28px;
}

* {
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}

body > section {
	padding: 150px 0;
	width: 100%;
	background-color: white;
}

/* Header */
section.primary-nav {
	height: 54px;
	padding: 24px 0 0 0;
	border-bottom: 1px #666 solid;
}

section.primary-nav nav {
	width: 940px;
	margin: 0 auto;
	-webkit-transition: width .2s ease;
	-moz-transition: width .2s ease;
	transition: width .2s ease;
}

.primary-nav a.logo {
	width: 120px;
	height: 120px;
	background: url('../img/personal_logo.svg') no-repeat 0 -2px;
	background-size: 100% auto;
	float: left;
	padding: 0;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.primary-nav a {
	display: block;
	float: right;
	color: #666;
	letter-spacing: 0.1px;
	font-size: 15px;
	padding: 0 20px;
	-webkit-transition: margin 0.2s ease;
	-moz-transition: margin 0.2s ease;
	transition: margin 0.2s ease;
}

.primary-nav a:hover {
	color: #111;
}

.primary-nav a:active {
	color: #dc3522;
}

section.primary-nav::after {
	content: '';
	display: block;
	clear: both;
}

section.cover {
	position: relative;
	top: -65px;
	display: inline-block;
	padding: 0;
}

/* About */
section.about {
	position: relative;
	top: -70px;
	padding: 120px 0;
	background-color: #1E1E20;
}

div.about-wrapper {
	width: 960px;
	margin: 0 auto;
}

div.about-wrapper article {
	width: 257px;
	margin: 0 30px;
	display: inline-block;
	vertical-align: top;
}

div.about-wrapper article h2 {
	margin: 1.4em 0;
	margin-bottom: 0.2em;
	font-size: 1.6em;
	font-weight: 700;
	text-align: center;
	color: #eee;
}

div.about-wrapper article p {
	margin: 1.4em 0;
	width: 100%;
	font-size: 1em;
	text-align: left;
	color: #eee;
}
