/* Global */
body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 16px;
	text-decoration: none;
	line-height: 28px;
}

a:hover, a:active {
	cursor: pointer;
}

* {
	-webkit-margin-after: 0;
	-webkit-margin-before: 0;
}

body > section {
	padding: 150px 0;
	width: 100%;
	background-color: white;
}

/* Header */
section.primary-nav {
	height: 54px;
	padding: 24px 0 0 0;
	border-bottom: 1px #666 solid;
}

section.primary-nav nav {
	width: 940px;
	margin: 0 auto;
	-webkit-transition: width .2s ease;
	-moz-transition: width .2s ease;
	transition: width .2s ease;
}

.primary-nav a.logo {
	width: 120px;
	height: 120px;
	background: url('../img/personal_logo.svg') no-repeat 0 -2px;
	background-size: 100% auto;
	float: left;
	padding: 0;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.primary-nav div.link-wrapper {
	display: block;
	float: right;
	margin: 0 auto;
	padding: 0;
}

.primary-nav a {
	color: #666;
	letter-spacing: 0.1px;
	font-size: 15px;
	padding: 0 20px;
	-webkit-transition: margin 0.2s ease;
	-moz-transition: margin 0.2s ease;
	transition: margin 0.2s ease;
}

.primary-nav a:hover {
	color: #111;
}

.primary-nav a:active {
	color: #dc3522;
}

section.primary-nav::after {
	content: '';
	display: block;
	clear: both;
}

section.cover {
	position: relative;
	top: -65px;
	display: inline-block;
	padding: 0;
}

section.cover img#cover-img {
	display: block;
}

section.cover img#alt-cover-img {
	display: none;
}

@media(max-width: 1000px) {
	section.primary-nav nav {
		width: 760px;
		margin: 0 auto;
		-webkit-transition: width .2s ease;
		-moz-transition: width .2s ease;
		transition: width .2s ease;
	}
}

@media(max-width: 800px) {
	section.primary-nav nav {
		width: 640px;
		margin: 0 auto;
		-webkit-transition: width .2s ease;
		-moz-transition: width .2s ease;
		transition: width .2s ease;
	}
}

@media(max-width: 660px) {
	section.primary-nav {
		height: inherit;
		padding: 40px 0 74px 0;
	}

	section.primary-nav nav {
		text-align: center;
		width: auto;
	}

	.primary-nav div.link-wrapper {
		float: none;
	}

	section.primary-nav a.logo {
		float: none;
		display: block;
		margin: auto;
		background: url('../img/personal_logo.svg') no-repeat 0 -56px;
		background-size: 100%;
		height: 42px;
	}

	section.cover img#cover-img {
		display: none;
	}

	section.cover img#alt-cover-img {
		display: block;
	}
}

/* About */
section.about {
	position: relative;
	top: -70px;
	padding: 120px 0;
	background-color: #1E1E20;
}

div.about-wrapper {
	width: 1000px;
	margin: 0 auto;
}

div.about-wrapper article {
	width: 257px;
	margin: 0 36px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

div.about-wrapper article img {
	display: inline-block;
	width: 80%;
	height: auto;
}

div.about-wrapper article h2 {
	margin: 1.4em 0;
	margin-bottom: 0.2em;
	font-size: 1.6em;
	font-weight: 700;
	color: #eee;
}

div.about-wrapper article p {
	margin: 1.4em 0;
	width: 100%;
	font-size: 1em;
	text-align: left;
	color: #eee;
}

@media(max-width: 1080px) {
	div.about-wrapper {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	div.about-wrapper article {
		width: 200px;
		margin: 0 36px;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
}

@media(max-width: 894px) {
	section.about {
		padding: 60px 0;
	}

	div.about-wrapper {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	div.about-wrapper article {
		width: 180px;
		margin: 0 24px;
	}

	div.about-wrapper article h2 {
		font-size: 1.4em;
	}

	div.about-wrapper article p {
		font-size: 0.9em;
	}
}

@media(max-width: 772px) {
	div.about-wrapper article {
		width: 80%;
		margin: 0 auto;
	}

	div.about-wrapper article img {
		display: inline-block;
		width: 40%;
		height: auto;
	}

	div.about-wrapper article p {
		margin-bottom: 4em;
	}
}

@media(max-width: 560px) {
	div.about-wrapper article img {
		display: inline-block;
		width: 60%;
		height: auto;
	}
}

/* portfolio */
section.portfolio {
	position: relative;
	top: -70px;
	padding: 40px 0;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

section.portfolio a {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

section.portfolio div.header-wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
}

section.portfolio h3 {
	font-size: 2.4em;
	font-weight: 300;
	color: #222;
	margin: 1.6em 0;
	margin-bottom: 1.2em;
	display: inline-block;
}

section.portfolio img {
	position: relative;
	width: 260px;
	margin: 8px;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	border: 1px black solid;
}

section#web-portfolio div.web-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 8px;
	width: 262px;
}

section#web-portfolio a {
	width: 262px;
	margin: 0;
}

section#web-portfolio div.web-cover {
	position: absolute;
	top: 0;
	width: 262px;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	opacity: 0;
	color: white;
	background-color: black;
}

section#web-portfolio div.web-cover:hover {
	opacity: 0.8;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

section#web-portfolio div.web-cover-items {
	display: inline-block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

section#web-portfolio div.web-cover h1 {
	padding: 0;
	margin: 0;
	margin-bottom: 0.25em;
	font-size: 1.2em;
	font-weight: 700;
}

section#web-portfolio div.web-cover a {
	display: inline-block;
	width: 100%;
}

section#web-portfolio img {
	margin: 0;
}

/* Contacts */
section.contact {
	text-align: center;
	background-color: #4e7ac7;
}

section.contact i {
	padding: 16px;
	margin: 16px 12px;
	border-radius: 50%;
	font-size: 32px;
	color: #1e1e20;
	background-color: white;
}

section.contact i:hover {
	cursor: pointer;
}

section.contact div#email-display {
	position: relative;
	height: 0;
}

section.contact p#email-popup {
	position: relative;
	top: -3em;
	display: inline-block;
	background-color: #1e1e20;
	padding: 2px 8px;
	font-weight: 700;
}

section.contact h4 {
	margin: 0.5em 0 0.2em 0;
	font-size: 1.2em;
}

section.contact h5 {
	margin: 0.2em auto;
	font-size: 1.2em;
	font-weight: 700;
	max-width: 80%;
}

/* Footer */

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0.8em 0;
	text-align: center;
	background-color: #35478c;
}

footer p {
	color: white;
}

/* Misc. */
#overlay {
	display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.9);
    text-align: center;
    overflow-y: scroll;
}

#overlay img {
	width: 60%;
	height: auto;
	margin: 3em 0;
	display: inline-block;
}

h6 {
	position: fixed;
    color: white;
    font-size: 30px;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    top: 15px;
    left: 30px;
}

.progress-sign {
	position: relative;
	width: 160px;
	height: 160px;
	margin: 8px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background: #1e1e20;
}

.progress-sign p {
	font-size: 0.8em;
	font-weight: 700;
	display: inline-block;
	color: white;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ERASE UIL */
#uil-link {
	color: white;
	-webkit-transition: color .2s ease;
	   -moz-transition: color .2s ease;
	        transition: color .2s ease;
}

#uil-link:hover {
	cursor: pointer;
	color: #ffc0a9;
}