.background {
	position: fixed;
	max-width: 100%;
	width: 100vw;
	height: 100vh;
	background-color: white;
	opacity: 0;
	transition: 200ms opacity;
	z-index: -1;
	text-align: center;

	img {
		display: inline;
		position: relative;
		width: 50px;
		height: 50px;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 10px;
	}
}
