/* Gradient 1 */
.gradient-1 {
  background: linear-gradient(-45deg, #69b7eb, #b3dbd3, #f4d6db);
}

/* Gradient 2 */
.gradient-2 {
  background: linear-gradient(-45deg, #cfecd0, #ffc5ca);
}

/* Gradient 3 */
.gradient-3 {
  background: linear-gradient(-45deg, #f598a8, #f6edb2);
}

/* Gradient 4 */
.gradient-4 {
  background: linear-gradient(-45deg, #ee5c87, #f1a4b5, #d587b3);
}

/* Gradient 5 */
.gradient-5 {
  background: linear-gradient(-45deg, #b9deed, #efefef);
}

/* Gradient 6 */
.gradient-6 {
  background: linear-gradient(-45deg, #aea4e3, #d3ffe8);
}

/* Gradient 7 */
.gradient-7 {
  background: linear-gradient(-45deg, #faf0cd, #fab397);
}

/* Gradient 8 */
.gradient-8 {
  background: linear-gradient(-45deg, #cfecd0, #a0cea7, #9ec0db);
}