main {
  height: 80vmin;
  text-align: center;

  div {
    width: 60%;
    margin: 0 auto;

    h1 {
      margin-bottom: 0;
      font-weight: 300;
      font-size: 44px;
      letter-spacing: -1px;
      opacity: 0;
    }

    h2 {
      margin-top: 0;
      color: color('grey', 'base');
      font-weight: 200;
      font-size: 28px;
      opacity: 0;
    }
  }

  a.btn {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: none;
    color: white;
    border-radius: 20px;
    margin-right: 0.6rem;

    transition: 0.2s;
    opacity: 0;
  }
}

@media #{$medium-and-down} {
  main {
    height: 80vh;

    div {
      width: 90%;
      margin: 0 auto;

      h1 {
        font-size: 48px;
        letter-spacing: -2px;
      }

      h2 {
        font-size: 24px;
      }
    }
  }
}
