#intro {
	background-color: #eee;
	width: 100%;
  background: linear-gradient(135deg, #000, #3e549c, #529dd6);
	color: white;

	.links {
		position: fixed;
		z-index: 11;
		opacity: 0;
		transition: 1s opacity;
	}

	.intro-header {
		position: fixed;
		padding-top: 5vmin;
		padding-left: 8vmin;
		padding-right: 8vmin;
		padding-bottom: 100vh;
		z-index: 10;
		opacity: 0;
		transition: 1s opacity;

		h2 {
			color: color('blue-grey', 'lighten-2');
		}

		.links {
			margin-top: 2vmin;

			.btn {
				margin-bottom: 4vmin;
			}
		}

		@media #{$small-and-down} {
			.btn {
				margin-bottom: 4vmin;
				margin-left: 0px;
				margin-right: 20px;
			}
		}
	}

	.intro-block {
		position: relative;
		width: 100%;
		height: 80vh;
		z-index: 0;
	}

	@media #{$small-and-down} {
		.intro-block {
			height: 120vmin;
		}
	}

	.intro-about {
		position: relative;
		background: white;
		width: 100%;
		padding-bottom: 4em;
		line-height: 32px;
		z-index: 20;
		color: black;

		.intro-curve {
			width: 100%;
			overflow-x: hidden;
			position: absolute;
			top: -110px;
			height: 110px;
		}

		#header-curve {
			position: absolute;
			width: 100%;
			min-width: 800px;
			height: 110px;
		}

		#header-curve-shadow {
			position: absolute;
			width: 100%;
			min-width: 800px;
			height: 110px;
	    display: block;
	    filter: blur(10px);
	    mix-blend-mode: overlay;
	    opacity: .8;
		}
	}

	@media #{$small-and-down} {
		.intro-about {
			padding-top: 2em;
		}
	}
}
