#about-modal,
#website-modal {
	max-height: 75%;
	border-radius: 5px;
	transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transform: perspective(600px) translate3d(0, 0, 0);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
	transform-style: preserve-3d;
	backface-visibility: hidden;

	img {
		width: 100%;
		transform: perspective(600px);
	}

	@media #{$small-and-down} {
		img {
			margin-bottom: 1em;
		}
	}

	h3 {
		font-weight: 700;
		color: color('blue', 'darken-2');
		margin-bottom: 0;
	}

	p {
		margin-top: 0.2em;
		font-size: 1.25rem;
		font-weight: 300;
	}
}

#about-modal:hover,
#website-modal:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#organizations {
	div {
		img {
			max-width: 100%;
		}
	}
}