#about-modal,
#website-modal {
	max-height: 75%;

	img {
		width: 100%;
	}

	@media #{$small-and-down} {
		img {
			margin-bottom: 1em;
		}
	}

	h3 {
		font-weight: 700;
		color: color('blue', 'darken-2');
		margin-bottom: 0;
	}

	p {
		margin-top: 0.2em;
		font-size: 1.25rem;
		font-weight: 300;
	}
}