.page {
	max-width: 100%;
	width: 100vw;
	padding-top: 96px;

	.nav-links {
		.btn {
			color: white;
		}

		.plain-btn {
			color: black;
		}

		.plain-btn:hover {
			color: white;
		}
	}
}

@media only screen and (max-width: 496px) {
	.page {
		padding-top: 142px;
	}
}

section {
	.project {
		margin-bottom: 4em;
	}

	.section-intro {
		position: relative;
		top: 0;
		left: 0;
		padding-left: 4vmin;
		padding-right: 4vmin;
		padding-bottom: 4em;

		h1 {
			font-size: 4rem;
		}

		p {
			padding-left: 6px;
			margin: 0;
			font-size: 2rem;
			font-weight: 300;
		}
	}

	@media #{$small-and-down} {
		.section-intro {
			padding-bottom: 2em;
		}
	}

	h4 {
		font-weight: 900;
		font-size: 2rem;
		margin-bottom: 0;
	}

	h5 {
		font-weight: 900;
		font-size: 1.4rem;
		margin-top: 8px;
		color: color('blue', 'darken-2');
	}

	.images {
		text-align: center;
	}

	img {
		width: 100%;
	}

	img.short-img {
		width: 70%;
	}
}

.comingsoon {
	padding-top: 4em;
	position: relative;
	max-width: 100%;
	width: 100vw;
	text-align: center;

	img {
		width: 400px;
	}

	@media #{$small-and-down} {
		img {
			width: 200px;
		}
	}
}
