#photography {
	text-align: center;
	@media #{$small-and-down} {

		h4 {
			font-size: 1.6rem;
		}
	}

	h4 {
		margin-top: 0.4em;
		margin-bottom: 1.2em;
		font-size: 1.8rem;
		font-weight: 300;
		color: color('grey', 'darken-3');
	}
}
