#projects {
	padding-top: 6em;
	padding-bottom: 6em;
	background-color: #111;

	div.video-container {
		box-shadow: rgba(0, 0, 0, 0.6) 0px 32px 44px 0px;
		background-color: white;
	}

	div.project-desc {
		padding-left: 1em;

		h2, 
		h3 {
			margin-top: 0;
			letter-spacing: -0.036em;
			font-weight: 300;
			font-size: 3.6rem;
		}

		h3 {
			font-size: 2.4rem;
			margin-top: 0.4em;
		}

		p {
			font-size: 1.4em;
			font-weight: 200;
			opacity: 0.9;
		}
	}
}