#projects {
	padding-top: 3.8em;
	padding-bottom: 0;
	background-color: #181818;

	img {
		width: 100%;
	}

	div.row {
		padding-bottom: 2em;
		margin-bottom: 0;
	}

	div.video-container {
		box-shadow: rgba(0, 0, 0, 0.6) 0px 32px 44px 0px;
		background-color: white;
	}

	@media #{$small-and-down} {
		div.video-container, img {
			margin-bottom: 4em;
		}
	}

	div.project-desc {
		padding-left: 1em;

		h2, 
		h3 {
			margin-top: 0;
			letter-spacing: -0.036em;
			font-weight: 300;
			font-size: 4.2rem;
		}

		h3 {
			font-size: 2.4rem;
			margin-top: 0.4em;
		}

		p {
			font-size: 1.4em;
			font-weight: 200;
			opacity: 0.8;
		}
	}

	/* Setup animations. */
	#microsoft-video,
	#microsoft-desc,
	#sherlock-video,
	#sherlock-desc,
	#ai-video,
	#ai-desc {
		opacity: 0;
	}
}