// bower:scss
// endbower

@import 'bower_components/materialize/sass/materialize';
@import '_colors';
@import '_gradients';
@import '_animations';
@import '_nav';
@import '_intro';
@import '_web';
@import '_projects';
@import '_design';
@import '_photography';
@import '_videos';
@import '_modal';

.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

#modal {
	max-height: 75%;
}

.semi-bold {
	font-weight: 700;
	color: color('grey', 'darken-3');
}

.masonry {
	img {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1.4em;
	}
}

@media #{$large-and-up} {
	.masonry[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

@media #{$medium-and-down} {
	.masonry[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}

@media #{$small-and-down} {
	.masonry[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

@media #{$small-and-down} {
	.materialboxed.active {
		width: 100% !important;
		height: auto !important;
	}
}

footer {
	background-color: #222;
	color: white;
	text-align: center;
	padding: 0.8em;
}
