// bower:scss
// endbower

@import 'bower_components/materialize/sass/materialize';
@import '_colors';
@import '_gradients';
@import '_animations';
@import '_prism';
@import '_fluffy';
@import '_nav';
@import '_intro';
@import '_web';
@import '_projects';
@import '_design';
@import '_theory';
@import '_modal';

.browserupgrade {
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

#modal {
	max-height: 75%;
}

.semi-bold {
	font-weight: 700;
	color: color('grey', 'darken-3');
}
