footer.page-footer {
  margin-top: 0;
  padding-top: 4em;
  background-color: map-get($grey, darken-3);
  text-align: center;

  a {
    margin-left: 0.6em;
    margin-right: 0.6em;
  }

  p {
    font-weight: 300;
    margin: 0.2em;
  }

  .footer-copyright {
    margin-top: 4em;
    background-color: map-get($grey, darken-4);
  }
}