.portfolio {
  max-width: 960px;
  margin: auto;
  padding-top: 6em;
  text-align: center;

  h1 {
    font-family: $raleway;
    font-weight: 100;
    font-size: 3.2em;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.2em;
    margin-bottom: 2em;
    font-family: $raleway;
    font-weight: 300;
    font-size: 1.2em;
  }

  img {
    position: relative;
    width: 278px;
    margin: 8px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

#overlay {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.9);
  text-align: center;
  overflow-y: scroll;

  img {
    width: 60%;
    height: auto;
    margin: 3em 0;
    display: inline-block;
  }

  h6 {
    position: fixed;
    color: white;
    font-size: 30px;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    top: 15px;
    left: 30px;
  }
}