@import 'materialize/materialize';
@import 'bourbon';

$raleway: "Raleway", sans-serif;
$open-sans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$purple-rain: #694489;

html, body {
	font-family: $open-sans;
}

@import 'nav';
@import 'cover';
@import 'cards';
@import 'portfolio';
@import 'footer';
@import 'overlay';
@import 'algorithms';

.highlight {
  color: $purple-rain;
}
