@import 'materialize/materialize';
@import 'bourbon';

$raleway: "Raleway", sans-serif;
$roboto: "Roboto", sans-serif;
$purple-rain: #694489;

@import 'nav';
@import 'cover';
@import 'cards';
@import 'portfolio';
@import 'footer';
@import 'overlay';
@import 'algorithms';

.highlight {
  color: $purple-rain;
}
